body {
	font-family: 'Barrio', cursive;
	font-size: 20px;
}

h1 {
	position: relative;
	text-align: center;
	font-size: 1.75em;
	margin-bottom: 15px;
}

* {
  box-sizing: border-box;
}

div #items {
	
	padding-top: 15px;
	min-height: 200px;
	position: relative;
	border: none;

	
}
p { 
	
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	

}
#chicken {
	background-color: #b597dc;
  border: 2px solid black;
  text-align: center;
  font-size: 1.25em;
  position: relative;
  width: 30%;
  height: 30px;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
}
#beef {
	background-color: #e7a5d3;
  border: 2px solid black;
  text-align: center;
  font-size: 1.25em;
  position: relative;
  width: 30%;
  height: 30px;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
}
#sushi {
	background-color: #7ee0dc;
  border: 2px solid black;
  text-align: center;
  font-size: 1.25em;
  position: relative;
  width: 30%;
  height: 30px;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
 
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1 {
    float: left;
    width: 33%;
	}
	 .all-lg {
	width: 95%;
	height: 100%;
	position: relative;
	border: 2px solid black;
	margin-right: auto;
	margin-left: auto;
}

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .lower {
    float: left;
    
    
  }
  .col-md-1 {
    width: 50%;
  }
  .col-md-2 {
    width: 100%;
  }
  .upper-md-1 {
	width: 93%;
	height: 90%;
	position: relative;
	border: 2px solid black;
	margin-right: auto;
	margin-left: 5%;
}
  .upper-md-2 {
	width: 93%;
	height: 90%;
	position: relative;
	border: 2px solid black;
	margin-right: 5%;
	margin-left: auto;
}
  .lower-md {
	width: 95%;
	height: 90%;
	position: relative;
	border: 2px solid black;
	margin-right: 2.5%;
	margin-left: 2.5%;
}

}
/********** Small devices only **********/
@media (max-width: 767px) {

  .all-sm {
	width: 90%;
	height: 90%;
	position: relative;
	border: 2px solid black;
	margin-right: auto;
	margin-left: auto;
}

}